@font-face {
    font-family: Spline Sans;
    src: url("assets/fonts/SplineSans-VariableFont_wght.ttf");
}


* {
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    font-family: 'Spline Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;  
}


.header {
    border: 1px solid black;
}


.main {
    border: 1px solid black;
    padding: 30px;
}


.footer {
    border: 1px solid black;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}


.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: grey;
    font-size: 25px;
    transition: .3s;
}


.section-item a {
    color: 829985;
    text-decoration: none;
    transition: color 0.5s;
}
.section-item a:hover {
    color: 4d2323;
}


html {
    scroll-behavior: smooth;
}


.main-container {
    display: flex;
    flex-wrap: wrap;
}


.section {
    width: 50%;
    padding: 30px;
}


@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}


.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}


.link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
}


.link:hover {
    color:#5d7260;
}


.rss {
    width: 121px;
    height: 45px;
    background-image: url("./assets/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
}


.footer-container {
    padding: 40px;
}